/* colors */
.bg-thm-grey {
    background-color: #4a5c66;
}
.bg-thm-green {
    background-color: #80ba24;
}
.text-thm-grey {
    color: #4a5c66;
}
.text-thm-green {
    color: #80ba24;
}
.card-color {
    background-color: rgb(229 231 235);
}
.green-bg {
    background-image: linear-gradient(45deg, #517517 0%, #71a223 51%, #8ecd2a 100%);
}
.red-bg {
    background-image: linear-gradient(45deg, #BC0000 0%, #FF0000 51%, #E26363 100%);
}
.grey-active-bg {
    background-image: linear-gradient(45deg, #283238 0%, #4a5c66 51%, #576C77 100%);
}
.grey-bg {
    background-color: #808f98;
}
.bg-white {
    background-color: #ffffff;
}

.auth-background {
    position: relative;
    z-index: 1;
}

/* Auth-CSS */
.auth-green-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 600px;
    background-color: #84CC16;
    background-image: linear-gradient(315deg, #2f480a 0%, #84CC16 74%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: rotate(-6deg);
    z-index: 0;
}
.rounded-box {
   border-radius: 30px !important;
   padding: 30px;
}

/* Progressbar */
.container .progress-div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.progress-div {
    padding: 1px;
    border-radius: 6px;
}
.progress-bar {
    height: 1em;
    border-radius: 4px; 
    width: 0%;
    background-color: #80ba24;
 
}
.progress-bar {
    width: 0%;
}

/* Mixer Styling */ 
.containerMixer {
    position: relative;
    width: 240px;
    height: 630px;
    top: -30px;
    left: 30px;
  }
  
  #mixerLogo {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1;
    width: 380px;
    height: 630px;
  }
  
  #becherLogo {
    position: absolute;
    top: 5em;
    left: 3em;
    z-index: 2;
    width: 335px;
    height: 300px;
    opacity: 0.3;
  }
  
  #mlZahlLogo {
    position: absolute;
    top: 5em;
    left: 2em;
    z-index: 3;
    width: 380px;
    height: 300px;
  }  

  #myCanvas {
    position: absolute;
    top: 3.6em;
    left: 2em;
    z-index: 0;
    -webkit-clip-path: polygon(100% 0, 97% 79%, 91% 100%, 9% 100%, 4% 79%, 0% 0);
    clip-path: polygon(100% 0, 97% 79%, 91% 100%, 9% 100%, 4% 79%, 0% 0); 
  }
  
  .becherWrapper {
    position: absolute;
    z-index: 0;
    width: 240px;
    height: 330px;
    top: 3.6em;
    left: 2em;
    z-index: 0;
    margin-left: 32px;
    margin-right: 32px;
    -webkit-clip-path: polygon(100% 0, 97% 79%, 91% 100%, 9% 100%, 4% 79%, 0% 0);
    clip-path: polygon(100% 0, 97% 79%, 91% 100%, 9% 100%, 4% 79%, 0% 0); 
    overflow: hidden;
  }
  
  .inner-image {
    opacity: 0;
    object-fit: contain;
  }

  /* custom button-style */
.custom-btn {
    margin-right: 1em;
    padding: 0.75em 1.25em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.custom-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.custom-btn:active {
    transform: scale(1.5);
}

.seperate {
    margin-bottom: 15em !important;
    margin-top: 10em !important;
}

.bg-container {
    position: relative;
}
.green-background-rotate {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 90%;
    height: 90%;
    bottom: 0;
    right: 0;
    background-color: #84CC16;
    background-image: linear-gradient(315deg, #2f480a 0%, #84CC16 74%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: rotate(-3deg);
    z-index: 0;
}